node_modules
.next
out
build
dist
coverage
pnpm-lock.yaml
package-lock.json
yarn.lock
*.tfstate
*.tfstate.backup
.terraform
.vercel
playwright-report
test-results
blob-report
infra/.terraform
*.min.js
*.min.css
